picoDst/*
.sl64_gcc482/*
*.so
*.d
workDir/*
results/*
analyse/*.root
analyse/rootFiles/*
analyse/analyse_job/*
analyse/analyse_job2/*
notUsed_codes
tmva/*.root
.idea
cmake-build-debug
StRoot/cmake-build-debug
StRoot/CMakeLists.txt
cmake-build-debug
picoLists/runs_path_all.list
